[Unit]
Description=PE File Hashing Service
After=network.target

[Service]
ExecStart=/usr/local/bin/monitor_pe_files.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target